@* footer Template File *@
@(message:Html)
     <div class="container-fluid" >
		        <!-- start first row -->
		        <br>
		        <br>
		        <div class="row" style="bottom:2%;width:100%;">
			           <div id="footer" class="col-md-12">
			               <div class="panel panel-default" style="background-color:#9999FF;" >
			                   <div class="panel-body" >
                                <div class="panel-footer">@message</div>
                                </div>
                            </div>
			           </div>
			    </div>
	 </div>    
 