@* formElements Template File *@
@import helper._
@import models._
@(registrationForm: Form[KnolxUser])

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@inputText(registrationForm("name"), '_label -> "Name", 'class -> "form-control")
@inputText(registrationForm("address"), '_label -> "Address", 'class -> "form-control")
@inputText(registrationForm("company"), '_label -> "Company", 'class -> "form-control")
@inputText(registrationForm("email"), '_label -> "Email", 'class -> "form-control",'type ->"email")
@inputPassword(registrationForm("password"), '_label -> "Password", 'class -> "form-control")
@inputText(registrationForm("phone"), '_label -> "Phone", 'class -> "form-control")
@inputText(registrationForm("user_type"), '_label -> "User Type", 'class -> "form-control",'type ->"number")


