@(message: String)
@main(message,"Login"){
	<div class="container-fluid" style="margin-top:1%;">
		        <!-- start first row -->
               <div class="row" >
                    <div class="col-md-1 col-sm-1  col-xs-1" >
                     
                    </div>
	                <div class="col-md-4 col-sm-4  col-xs-4">
	                    <div class="panel panel-default" >
			                   <div class="panel-body" style="height :10%;" >
	                           <img src="@routes.Assets.at("images/img-20140910-wa0001.jpg")" class="img-responsive" alt="Responsive image" style="width:100%;height :50%;">
	                           </div>
	                     </div>
	               </div>
	               <div class="col-md-6 col-sm-6  col-xs-6" >
	                         <div class="jumbotron">
                                    <h2>Welcome to knolx! </h2>
                                         <p> Knoldus strongly believes in strongly sharing knowledge.
                                             We conduct knowledge sessions every week. Enthusiasts outside Knoldus who would like to contribute or attend are most welcome. 
                                             drop a mail on knoldus.com and enjoy the Scala sessions with generous snacks and drinks.</p>
                                         <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                             </div>
	               </div>
	          </div>
	 </div>
}
