@* styleSheet Template File *@
@(page:String)
     @page match{
      case "home" =>{
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-3.3.2-dist/css/bootstrap.min.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
      }
       case "addEmployee" =>{
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-3.3.2-dist/css/bootstrap.min.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
      }
    }